django
django-cors-headers
django-tasks
django-tasks-db
djangorestframework

python-dotenv
pypdf
requests
trafilatura
beautifulsoup4

transformers
torch

chromadb
langchain-ollama
langchain-text-splitters
